.App {
  text-align: center;
}

#myNavBar {
  background-color: darkblue;
  padding: 1%;
  display: inline-flex;
  width: 80%;
  border: 1px solid white;
  border-radius: 10px;
  position: fixed;
  top: 2%;
  left: 10%;
}

#myNavBar>li {
  margin: auto;
  list-style-type: none;
  font-size: 22px;
  font-weight: 900;
  font-family: "Segoe Print";
}

#myNavBar>li>a:hover {
  color: darkblue;
  background-color: lightblue;
  /* padding-left: 1%; */
  /* padding-right: 1%; */
  border-radius: 10px;
  cursor: grab;
}

#myNavBar>li>a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px lightblue;
}


.App-header {
  color: lightblue;
  /* text-shadow: 1px 1px 1px white; */
}

/* .App-link {
  color: #494fc1;
} */

body {
  background-color: lightblue;
}

#introLine {
  color: darkblue;
  font-size: 50px;
  font-family: 'Segoe Print';
  transform: rotate(-15deg);
  margin: 20% auto 25% auto;
  text-shadow: 1px 1px 1px white;
  font-weight: 900;
  width: 90%;
}

#backSquare {
  height: 50vh;
  width: 50vw;
  background-color: rgba(0, 0, 139, 0.2);
  border: 1px solid white;
  border-radius: 30px;
  transform: rotate(45deg);
  position: absolute;
  top: 30vh;
  left: 10vw;
}
#frontSquare {
  height: 20vh;
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid darkblue;
  border-radius: 30px;
  transform: rotate(-35deg);
  position: absolute;
  top: 45vh;
  right: 5vw;
}

.titleOfPage {
  margin-top: 10%;
  color: darkblue;
  text-shadow: 1px 1px 1px white;
  text-align: center;
  text-decoration: underline;
}

.hardSkillLogo {
  margin: 10% 5% 1% 5%;
}

#hardSkills {
  width: 40%;
  
}